@import url('./main.css');
@import url('./content-text.css');
@import url('./content-info.css');
@import url('./navigation.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}

:root {
  --color-background: #fff; 
  
  --color-primary: #332F3D; 
  --color-secondary: #C7C3D2; 
  --color-tertiary: #8B90A7;

  --color-silver: #EEEBED;
}

body {
  background: var(--color-background);
}

body, button, textarea, input {
  color: var(--color-primary);
  font-size: 1rem;
  font-weight: 500;
  font-family: Helvetica, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}