.fones {
  inset: 0;
  position: absolute;
  margin: auto;
}

#section-1 .fones {
  width: auto;
  height: 300px;
}

#section-1 .fones.left {
  top: 150px;
  left: 0;
  right: 170px;
  bottom : 0;
}

#section-1 .fones.right {
  left: 100px;
  right: 0;
  top: 0;
  bottom: 150px;
}

#section-2 .fones {
  width: 450px;
  padding-bottom: 110px;
}

#section-3 .fones {
  width: 540px;
  padding-right: 60px;
}

@media(max-width: 768px) {
  #section-1 .fones {
    height: 220px;
  }

  #section-1 .fones.left {
    top: 81px;
    right: 94px;
  }

  #section-1 .fones.right {
    left: 105px;
    bottom: 105px;
  }

  #section-2 .fones {
    width: 375px;
    padding-bottom: 16px;
  }

  #section-3 .fones {
    width: 375px;
    padding-right: 45px;
  }
}

@media(max-width: 650px) {
  #section-1 .fones {
    height: 150px;
  }

  #section-1 .fones.left {
    top: 55px;
    right: 74px;
  }

  #section-1 .fones.right {
    left: 64px;
    bottom: 100px;
  }

  #section-2 .fones {
    width: 250px;
    padding-bottom: 0;
  }

  #section-3 .fones {
    width: 290px;
    padding-right: 36px;
  }
}